//fonts
$font-accent: 'Ubuntu Mono', monospace;

//bg-color
$bg-primary: #251744;
$bg-violet-light: rgba(#8150E6, 82%);

//color
$white: #ffffff;
$gray: #3d3d3d;
$gray-secondary: #777777;
$violet: #8150e6;

$task-red: #FF5959;
$task-blue: #597EFF;
$task-green: #59FFCD;
$task-pink: #FF59EE;
//any
$border-modal: 4px solid $gray;
$border-input: 3px solid $gray-secondary;
